:root {
  --purple: #3a3668;
  --orange: #ff7400;
}

.App {
  text-align: center;
  width: 80%;
  margin: 20px auto;
  /* border: 1px solid red; */
}

.Header {
  text-align: left;
  padding: 0;
}
.Header h1 {
  font-size: 3.7em;
  font-weight: 500;
  color: var(--purple);
  margin: 0 0 -10px 0;
  padding: 0;
}
.Header p {
  margin: 0;
}
.Header p span {
  font-weight: 700;
}
#hel {
  color: #003185;
}
#pal {
  color: #039ddb;
}
#profile {
  position: absolute;
  right: 50px;
  top: 50px;
  color: var(--purple);
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
}

#page {
  width: 100%;
}
.section01 {
  margin: 60px auto;
}
.section01 h2 {
  font-size: 2.1em;
}

.Incidents h1 {
  color: var(--purple);
  font-size: 2.5em;
  text-transform: uppercase;
  /* margin-bottom: -50px; */
  margin-top: -20px;
}
.Incidents article {
  /* display: none; */
  position: fixed;
  left: 0;
  bottom: -2px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid rgb(150, 150, 150);
  width: 100%;
  height: 0;
  background-color: #f7f7f7;
  /* background-color: var(--purple); */
  /* background-color: white; */
  transition: all 0.5s;
}
.Incidents article h2 {
  color: var(--purple);
  font-size: 2.3em;
  margin: 10px;
}
.Incidents article .form {
  width: 700px;
  margin: 0px auto;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  background-color: white;
}
.Incidents article .form input {
  width: 98%;
  height: 30px;
  font-size: 1em;
  padding-left: 8px;
  font-family: "Prompt", sans-serif;
  border-radius: 3px;
  border: 1px solid rgb(200, 200, 200);
}
.Incidents article .form select {
  width: 100%;
  height: 30px;
  font-size: 1em;
  padding-left: 8px;
  border-radius: 3px;
  border: 1px solid rgb(200, 200, 200);
}
.Incidents article .form textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  font-weight: 300;
  font-family: "Prompt", sans-serif;
  resize: none;
  font-size: 1em;
  padding-left: 8px;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
}
.Incidents article .form p {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--purple);
  margin: 12px 0 0px 0;
}
.Incidents article .form div {
  width: 80%;
  /* border: 1px solid red; */
  margin: 0 auto;
  text-align: left;
}
#publish {
  font-size: 1.2em;
  font-weight: 700;
  padding: 7px 15px;
  border-radius: 5px;
  color: var(--purple);
  background-color: transparent;
  border: 2px solid var(--purple);
  cursor: pointer;
  margin: 20px 0 0 0;
  transition: all 0.3s;
}
#publish:hover {
  background-color: var(--purple);
  color: white;
}
.donation-volunteer {
  text-align: center;
  color: var(--purple);
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 50px;
  /* border: 1px solid red; */
  width: 100% !important;
}
.donation-volunteer span {
  color: transparent;
}
#upload {
  width: 40px;
  margin: 0px 0 -10px 40px;
  cursor: pointer;
}
.Incidents article .donation-volunteer input {
  width: 20%;
}
#add {
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--purple);
  position: fixed;
  right: 50px;
  top: 150px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 100;
}
#add p {
  font-size: 5em;
  color: white;
  margin: -38px 0 0 0;
  padding: 0;
  font-weight: 300;
  transition: all 0.4s;
}
#add:hover {
  transform: scale(1.3);
}
button {
  outline: none;
}

.Incident {
  /* border: 1px solid blue; */
  background-color: white;
  margin: 20px auto;
  width: 555px;
  border: 1px solid rgb(220, 220, 220);
  padding: 30px;
  border-radius: 10px;
  text-align: left;
}
.Incident h1 {
  color: black;
  font-size: 1.8em;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  /* margin-bottom: 5px; */
  text-transform: capitalize;
  /* text-decoration: underline; */
}
.Incident h3 {
  display: inline-block;
  margin: 0;
  /* color: var(--purple); */
  font-weight: 500;
  font-size: 1em;
  color: rgb(12, 84, 240);
}
.incident-img {
  width: 550px;
  border: 2px solid black;
  border: 1px solid rgb(120, 120, 120);
}
.priority-img {
  width: 30px;
}
.location-img {
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 5px 10px 0;
}
.creator-img {
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px 10px 10px 0;
  vertical-align: top;
}
.category {
  float: right;
  /* background-color: transparent; */
  background-color: var(--purple);
  border: 1px solid var(--purple);
  /* color: var(--purple); */
  border-radius: 2px;
  font-size: 0.7em;
  font-weight: 700;
  color: white;
}
.posted-by p {
  display: inline-block;
  margin: 10px 0;
  font-size: 0.8em;
}
.posted-by p span {
  font-size: 1.5em;
}
.description {
  margin-top: 0;
}
.actions {
  /* border: 1px solid blue; */
  text-align: center;
  /* padding: 0; */
}
.actions div {
  display: inline-block;
  margin: 0 30px;
}
.actions div p {
  margin: 0;
}
.actions div button {
  background-color: transparent;
  border: 2px solid #1f4645;
  color: #1f4645;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 5px;
  font-size: 1em;
  transition: all 0.3s;
  cursor: pointer;
}
.actions div .registered {
  border: none;
  text-decoration: underline;
  font-weight: 500;
  cursor: auto;
  pointer-events: none;
}
.actions div .registered:hover {
  background-color: transparent;
  color: #1f4645;
}
.actions div button:hover {
  background-color: #1f4645;
  color: white;
}
.actions div img {
  width: 40px;
}

.Footer {
  text-align: center;
  /* height: 120px; */
  background-color: var(--purple);
  padding: 1px;
}
.Footer a {
  color: white;
  display: inline-block;
  margin: 20px;
}
.Footer p {
  color: white;
}

@media only screen and (max-width: 777px) {
  .Incident {
    width: 455px;
  }
  .incident-img {
    width: 450px;
  }
}
