@import url("https://fonts.googleapis.com/css?family=Prompt:300,400,500,700,900&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Prompt", sans-serif;
  background-color: #f7f7f7;
}
